[Unit]
Description=Emulab fstab fixup (swap)
After=swap.target
After=systemd-remount-fs.service
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/sh -c '. /etc/emulab/paths.sh ; $BINDIR/initscripts/fstab-generator-finish'
Restart=no

[Install]
WantedBy=multi-user.target
