[Unit]
Description=Testbed Prepare Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/sh -c '. /etc/emulab/paths.sh ; exec $BINDIR/initscripts/tbprepare stop'
StandardOutput=journal+console
StandardError=journal+console
