[Unit]
Description=Testbed Services
After=network.target network-online.target local-fs.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '. /etc/emulab/paths.sh ; exec $BINDIR/initscripts/testbed start'
ExecStop=/bin/sh -c '. /etc/emulab/paths.sh ; exec $BINDIR/initscripts/testbed stop'
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
