<style type="text/css">
 .nowrap {  white-space: nowrap; }

 .hidden-column {
     display: none;
 }

 .ui-datepicker{z-index: 99 !important};
</style>
<div class="row justify-content-center mt-3">
  <div class="col-sm-2">
    <div class="form-group text-center">
      <input id='start_day'
	     value=""
	     class="form-control form-control-sm"
	     placeholder="MM/DD/YYYY"
	     type="text">
      <label>Start Day</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group text-center">
      <input id='end_day'
	     value=""
	     class="form-control form-control-sm"
	     placeholder="MM/DD/YYYY"
	     type="text">
      <label>End Day</label>
    </div>
  </div>
  <div class="col-sm-1 px-0">
  <button type='button' id='go-button'
          class='btn btn-primary btn-sm'
          style='margin-left: 0px; height: 2rem;'>
    Go</button>
  </div>
</div>
<div class="row justify-content-start mt-3">
  <div class="col-sm-3">
    <input class='form-control form-control-md search'
	   type='search' data-column='all'
           id='activity_table_search' placeholder='Search Table'>
  </div>
  <% if (window.ISADMIN) { %>
    <div class="col-sm-3">
      <div class="input-group input-group-md" id="search-ip">
	<input class='form-control form-control-md search'
	       type='search'
	       placeholder='IP address or physical node ID'>
        <button class="btn btn-outline-secondary"
		type="button">Search</button>
      </div>
    </div>
  <% } %>
</div>
<div class="row mt-3">
  <center id="waiting">
    <h5>Patience please, this will take a few moments</h5>
    <br>
    <img src='images/spinner.gif' />
  </center>
  <center id="experiment-count" class="hidden" style="margin-top: -10px;">
    <small>There are <span></span> matching experiments.</small>
  </center>
  <div id="table-div"></div>
</div>
