<style>
 .scrollable-panel {
     overflow-y: scroll;
 }
</style>
<div>
  <div class='col-lg-10 col-lg-offset-1
	      col-md-10 col-md-offset-1
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default' id='aup-panel'>
      <div class='panel-body'>
	<div class="scrollable-panel"></div>
      </div>
      <div class='panel-footer'>
	<center>
          <button class='btn btn-primary btn-sm disabled'; type='button'
		  id='confirm-aup'>Accept</button>
	</center>
      </div>
    </div>
  </div>
</div>





