<!-- Confirm something -->
<div id='confirm_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to Delete</h4>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm_delete'>
	    Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
