<!-- Confirm Delete Image -->
<div id='confirm-delete-image-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Are you sure want to delete this image?</h4></center>
	<center>
          <button class='btn btn-danger btn-sm'
		  id='confirm-delete-image'
		  style='margin-right: 10px;'
		  type='button' name='delete'>Confirm
	  </button>
          <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel
	  </button>
	</center>
	<br>
	Note: This operation is not reversible, your image will be
	permanently deleted, freeing up the disk space it using.
	<div id="profile-list"
	     <% if (profiles == null) { %>class="hidden"<% } %>>
	  <br>
	  The following profile <em>versions</em> will also be
	  deleted since they are using this image and will no longer
	  work after the image is deleted.
	  <div class="table-responsive">
	    <table class='table table-condensed'>
	      <thead>
		<tr>
		  <th>Name</th>
		  <th>Version</th>
		  <th>Creator</th>
		  <th>Project</th>
		  <th>Created</th>
		</tr>
	      </thead>
	      <tbody>
		<% if (profiles) { %>
		  <% _.each(profiles, function(profile, i) { %>
		    <% _.each(profile.versions, function(version, j) { %>
		      <tr>
			<td><%= profile.name %></td>
			<td>
			  <a href="show-profile.php?uuid=<%- version.uuid %>"
			     target="_blank"><%- version.version %></a>
		      </td>
		      <td><%= profile.creator %></td>
		      <td><%= profile.project %></td>
		      <td class="format-date" style='white-space: nowrap;'>
			<%- version.created %></td>
		      </tr>
		    <% }); %>
		  <% }); %>
		<% } %>
	      </tbody>
	    </table>
	  </div>  
	</div>
      </div>
    </div>
  </div>
</div>
