<!-- How to make a copy of a repo-based profile -->
<div id='copy-repobased-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class="close btn-close"
                data-dismiss='modal' data-bs-dismiss='modal'
		aria-hidden='true'></button>
        <center><h4>How To Copy	a Repository Based Profile</h4></center>
      </div>
      <div class='modal-body'>
        <p>
	  In order to make a copy of a repository based profile, you
	  first need to make a <em>fork</em> of the git repository at
	  any code management web site that supports publically readable
	  Git repositories (ie:
	  <a href="https://www.github.com/" target="_blank">GitHub</a>,
	  <a href="https://www.gitlab.com/" target="_blank">GitLab</a>, or
	  <a href="https://www.bitbucket.org/" target="_blank">Bitbucket</a>).
	  The URL for the original git repository that you need to fork is:
	  <div style="margin-top: 5px;">
	    <div class="copy-to-clipboard">
	      <div class="input-group">
		<input readonly
		       class="form-control gitrepo-url"
		       value='https://'>
		<span class="input-group-text">
		  <a href='#' class='btn'>
		    <span class='glyphicon glyphicon-copy'></span></a>
		</span>
	      </div>
	    </div>
	  </div>
	</p>
	<p>
	  Be sure to make your new git repository publically readable
	  so that the Portal can access it.
	</p>
	<p>
	  Once your fork is created, use the
	  <a href="manage_profile.php" target="_blank">Create Profile</a>
	  page to create a new profile that is linked to your new
	  (forked) git repository.
	</p>
      </div>
    </div>
  </div>
</div>
