<div id='copy-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
	<center><h4>Copy Profile</h4></center>
      </div>
      <div class='modal-body'>
	<form class="form-horizontal">
	  <div class="row mb-2">
	    <label class="col-sm-5 control-label
			  col-form-label">New Profile Name:</label>
	    <div class="col-sm-4">
	      <input class="profile-name form-control
			    form-control-variable-size-ddhack"
		     placeholder="alphanumeric only">
	      <div class="text-danger hidden
			  copy-profile-error name-error"></div>
	    </div>
	  </div>
	  <div class="row">
	    <label class="col-sm-5 control-label
			  col-form-label">Project:</label>
	    <div class="col-sm-4">
	      <select class='profile-pid form-select'>
		<option>Please Select</option>
		<% _.each(projects, function(name) { %>
	          <option value='<%= name %>'><%= name %></option>
		<% }); %>
	      </select>
	      <div class="text-danger hidden
			  copy-profile-error pid-error"></div>
	    </div>
	  </div>
	</form>
	<div style="margin-top: 20px;">
          <center>
	    <button type='button'
		    class='btn btn-success btn-sm confirm-button'
		    id='copy-profile-confirm'>
              Create</button>
            <button type='button'
                    class='btn btn-default btn-sm cancel-button' 
                    data-dismiss='modal' data-bs-dismiss='modal'
		    aria-hidden='true'>
	      Cancel</button>
	    <div class="text-danger hidden copy-profile-error general-error"
		 style="text-align: center;"></div>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
  
<div id='profile-copied-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<center>
	  <h5>Your new profile has been created</h5>
	  <div style="margin-top: 15px;">
	    <!-- Leave this as a link, not a button -->
            <a href="#" type='button'
	       class='btn btn-success btn-sm confirm-button'>
	      Edit Profile</a>
            <button type='button'
                    class='btn btn-default btn-sm cancel-button'
                    data-dismiss='modal' data-bs-dismiss='modal'
		    aria-hidden='true'>
	      Dismiss</button>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
