<style>
.panel {
	font-size: 80%;
}	
.panel-body-dashboard {
	padding: 2px;
}
.table-dashboard {
	margin: 1px;
}
.popover{
	max-width: 800px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 2px;
}
.panel-heading {
	padding: 5px;
}
</style>
<div class='row'>
  <div class='col-sm-5'>
    <%= dashboardActivity({"dashboard": dashboard, "isadmin": isadmin}) %>
  </div>
  <div class='col-sm-7'>
    <%= dashboardRecent({"dashboard": dashboard, "isadmin": isadmin}) %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4'>
    <%= dashboardHeavyUsers({"dashboard": dashboard, "isadmin": isadmin}) %>
  </div>
  <div class='col-sm-4'>
    <%= dashboardHeavyProjects({"dashboard": dashboard, "isadmin": isadmin}) %>
  </div>
  <div class='col-sm-4'>
    <%= dashboardProfiles({"dashboard": dashboard, "isadmin": isadmin}) %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <%= dashboardErrors({"dashboard": dashboard, "isadmin" : isadmin}) %>
  </div>
</div>
<div class='row'>
  <div class="col-xs-4">
    Last updated: <span class="format-date-relative" id="last-refresh"></span>
  </div>
</div>
