<div class='panel panel-default' id='error-details-panel'>
  <div class="panel-heading">
    <h5><center>Recent Errors (Details)</center></h5>
  </div>
  <div class='panel-body panel-body-dashboard'>
    <table class="table table-condensed table-bordered table-dashboard">
      <thead>
        <tr>
          <th>Name</th>
          <th>When</th>
          <th>Profile</th>
          <th>Cluster</th>
          <th>Reason (Code)</th>
          <th>Log</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(dashboard.error_details, function(value, key) { %>
          <tr>
            <% if (value.active) { %>
              <td><a href="status.php?uuid=<%- value.uuid %>">
                <%- value.name %></a></td>
            <% }else { %>
            <td><%- value.name %></td>
        <% } %>
        <td class="format-date"><%- value.created %></td>
        <td><a href="show-profile.php?uuid=<%- value.profile_uuid %>">
          <%- value.profile_name %></a></td>
        <td><%- value.cluster %></td>
        <% if (value.message && value.message != "") { %>
          <td><span style="text-decoration: underline;"
                    data-toggle='popover'
                    data-delay='{"hide":100, "show":500}'
                    data-html='true'
                        data-uuid="<%- value.uuid %>"
                        data-content=""><%- value.reason %></span></td>
            <% } else { %>
              <td><%- value.reason %></td>
            <% }%>
            <% if (value.url) { %>
              <td><a href="<%- value.url%>">Log</a></td>
            <% }else { %>
            <td>N/A</td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
