<div class='panel panel-default' id='profiles-panel'>
  <div class="panel-heading">
    <h5><center>Popular Profiles (Epoch)</center></h5>
  </div>
  <div class='panel-body panel-body-dashboard'>
    <table class="table table-condensed table-bordered table-dashboard">
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(dashboard.heaviest_profiles, function(value, key) { %>
          <tr>
            <td><a href="show-profile.php?uuid=<%- value.uuid %>">
              <%- value.name %></a></td>
            <td><%- value.count %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
