<div class="frequency-graph-div">
  <center>
    <h4>
      Radio Monitoring Graph for
      <%- cluster %> <%- node_id %>:<%- iface %>
    </h4>
  </center>
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-maingraph"
	   style="height: 600px;"></div>
    </div>
  </div>
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-subgraph"
	   style="height: 600px;"></div>
      <div id="tooltip-popover"></div>
    </div>
  </div>
</div>
  
