<style>
 .multilevel-scrollable {
     width: auto;
     max-height: 500px;
     overflow-x: hidden;
     overflow-y: auto;
 }
 svg {
     display: block;
 }
</style>
<div class="frequency-graph-div">
  <div class="row justify-content-between">
    <div class="col-lg-3 col-md-3 col-sm-4">
      <div class="input-group input-group-sm frequency-search">
	<input type="text" class="form-control Xform-control-sm min-freq-input"
	       placeholder="Min MHz">
	<input type="text" class="form-control Xform-control-sm max-freq-input"
	       placeholder="Max MHz">
	<button class="btn btn-outline-secondary" type="button">Find!</button>
      </div>
    </div>
    <div class="col-auto">
      <% if (window.WHICH === "rfmonitor-mobile") { %>
	<a type='button' disabled target="_blank"
	   style="margin-right: 10px"
	   class='btn btn-default btn-sm gps-button'>
	  GPS Map</a>
      <% } %>
      <a type='button' hidden
	 style="margin-right: 10px"
	 class='btn btn-default btn-sm reload-button'
	 data-toggle='tooltip' data-bs-toggle='tooltip'
	 title='Refesh the graph data (adding newer graphs)'
	 data-trigger="hover">
	Reload</a>
      <a type='button' disabled
	 style="margin-right: 10px"
	 class='btn btn-default btn-sm share-button'
	 data-toggle='tooltip' data-bs-toggle='tooltip'
	 title='Share a link to the current graph'
	 data-trigger="hover">
	Share</a>
      <a type='button' disabled
	 style="margin-right: 10px"
         class='btn btn-default btn-sm download-button'
         data-toggle='tooltip' data-bs-toggle='tooltip'
         title='Download raw data (CSV file) for the current graph'
         data-trigger="hover">
	Download</a>
      <div class='moregraphs-dropdown btn-group dropstart'>
	<button id='action-menu-button' type='button'
		class='btn btn-default btn-sm dropdown-toggle'
		data-bs-auto-close='false'
		data-toggle='dropdown' data-bs-toggle='dropdown'>
	  More/Older Graphs</button>
      </div>
    </div>
  </div>    
  <center>
    <h4>
      <% if (window.WHICH === "rfbaseline") { %>
	Spectrum Monitoring Graph for
      <% } else { %>
	Radio Monitoring Graph for
      <% } %>
      <span class="frequency-graph-cluster"></span>
      <span class="frequency-graph-nodeid">
	<%- node_id %></span>:<span class="frequency-graph-iface"><%- iface %>
	</span>
	<% if (logid) { %>
	  <span class="frequency-graph-date" style="margin-left: 15px;">
	    <%- moment(logid, "X").format("L LT") %></span>
	<% } else { %>
	  <span class="frequency-graph-date hidden"
		style="margin-left: 15px;"></span>
	<% } %>
    </h4>
  </center>
  <div class="panel card panel-default" style="margin-bottom: 0px;">
    <div class="panel-body card-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-maingraph"
	   style="height: 600px;">
	<div class='spinner'>
	  <center>
	    <img src='images/spinner.gif' /></center>
	</div>
      </div>
      <div id="maingraph-tooltip-popover"></div>
    </div>
  </div>
  <div class="panel card panel-default" style="margin-bottom: 0px;">
    <div class="panel-body card-body" style="padding: 0px;">
      <div class="frequency-graph frequency-graph-subgraph"
	   style="height: 600px;"></div>
      <div id="subgraph-tooltip-popover"></div>
    </div>
  </div>
  <div class='spinner hidden'>
    <center>
      <img src='images/spinner.gif' /></center>
  </div>
</div>
<div class="hidden">
  <div id="maingraph-tooltipTemplate">
    <table class="table table-condensed border-none"
           style="font-size: 14px; margin: 5px; padding 0px;">
      <tbody>
	<tr>
          <td class="border-none p-1">Frequency:</td>
          <td class="border-none p-1 tooltip-frequency"></td>
	</tr>
	<tr>
          <td class="border-none p-1">Avg Power:</td>
          <td class="border-none p-1 tooltip-avg"></td>
	</tr>
	<tr>
          <td class="border-none p-1">Max Power:</td>
          <td class="border-none p-1 tooltip-max"></td>
	</tr>
	<tr>
          <td class="border-none p-1">Min Power:</td>
          <td class="border-none p-1 tooltip-min"></td>
	</tr>
	<tr class="hidden tooltip-abovefloor">
          <td class="border-none p-1">Above Floor:</td>
          <td class="border-none p-1 abovefloor"></td>
	</tr>
      </tbody>
    </table>
  </div>
  <div id="subgraph-tooltipTemplate">
    <table class="table table-condensed border-none"
           style="font-size: 14px; margin: 5px; padding: 0px;">
      <tbody>
	<tr>
          <td class="border-none p-1">Frequency:</td>
          <td class="border-none p-1 tooltip-freq"></td>
	</tr>
	<tr>
          <td class="border-none p-1">Power:</td>
          <td class="border-none p-1 tooltip-power"></td>
	</tr>
	<tr>
          <td class="border-none p-1">Center:</td>
          <td class="border-none p-1 tooltip-center"></td>
	</tr>
	<tr class="hidden tooltip-incident">
          <td class="border-none p-1">Incident:</td>
          <td class="border-none p-1 incident"></td>
	</tr>
	<tr class="hidden tooltip-abovefloor">
          <td class="border-none p-1">Above Floor:</td>
          <td class="border-none p-1 abovefloor"></td>
	</tr>
      </tbody>
    </table>
  </div>
  <div id="popover-template">
    <div class="popover" style="min-width: 240px;" role="tooltip">
      <div class="popover-body" style="padding: 0px;"></div>
    </div>
  </div>
</div>

