<div>
  <div id='spinner'>
    <center id='spinner'><img src='images/spinner.gif' /></center><br>
  </div>
  <div id='no-images-message' class='hidden'>
    <center>
      You have no images yet.
    </center>
  </div>
  <div id="local-cluster-div"></div>
  <div id="remote-clusters-div"></div>
  <div id="FE-clusters-div"></div>
  <div id="mobile-clusters-div"></div>
  <div id="failed-clusters-div"</div>
  <div id='classic-images-div' class='hidden'></div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
<div id='confirm_div'></div>
<div id='image-format-modal_div'></div>


