<div id='nomore-genilogin-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<br>
	<p>
	  Geni login is no longer supported at Cloudlab since the Geni
	  portal has been shutdown.
	</p>
	<p>
	  To keep using Cloudlab and have <em>read only</em> access to
	  your existing profiles and experiments, please provide your
	  Geni Portal email address below and click Submit.
	  If we have a matching user in our database, we will contact
	  you with an automated email. Please reply to that email and
	  include the email in your reply message.
	</p>
	<center>
	  <input placeholder="Geni Portal email address"
		 style="width: 300px;"
		 type="text">
	  <div class="hidden email-error"
	       style="color:red;">Please provide a valid email address</div>
	</center>
	<center style="margin-top: 10px">
          <button class='btn btn-success btn-sm confirm-button'>Submit</button>
          <button type='button'
		  data-dismiss='modal' data-bs-dismiss='modal'
                  class='btn btn-default btn-sm cancel-button'>Cancel</button>
	</center>

      </div>
    </div>
  </div>
</div>

