Please be advised that RF transmissions from OTA POWDER radios
have the potential to disrupt third-party (production) wireless
systems in the area around the University of Utah and into Salt
Lake City. While POWDER takes measures to monitor and alert on
out-of-compliance transmissions, IT IS YOUR RESPONSIBILITY TO ONLY
TRANSMIT WHERE PERMITTED BY FCC REGULATIONS. Further, you are
required to abide by ALL FCC regulations, including those governing
reception and decoding of third-party signals. In general, you may
not operate in licensed bands where neither you nor the POWDER
platform have a valid, active license. POWDER requires that you declare
the spectrum in which you intend to transmit in any experiment run
on the platform. (This is done with specific syntax in the associated
profile script. Consult the documentation and/or example profiles
provided by the POWDER team for details. Currently available spectrum
is listed on the POWDER Resource Availability web page on the website.)
