<div class='col-xs-12 col-sm-12 col-md-12'>
  Looking for <a href="#" id="mobile-endpoints">route info?</a>
  <table id='radioinfo-table' "class='tablesorter'>
    <thead>
      <tr>
	<th>Location</th>
	<th>Node</th>
	<th>Radio Type</th>
	<th class="sorter-false">TX Ranges</th>
	<th class="sorter-false">RX Ranges</th>
	<th class="sorter-false">Monitor</th>
	<th class="sorter-false">Free?</th>
	<th class="sorter-false">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(radioinfo, function(aggregate, urn) { %>
	<% _.each(aggregate, function(details, node_id) { %>
	  <% var url = amlist[urn].weburl +
  	  "/portal/show-node.php?node_id=" + details.node_id; %>
	  <tr>
	    <td><a href="powder-map.php?location=<%- details.location %>"
		   class="location"
		   data-urn="<%- urn %>"
		   data-location="<%- details.location %>"
		   data-type="<%- details.installation_type %>">
	      <%- details.location %></a>
	    </td>
	    <td><a href="<%- url %>" target="_blank">
	      <%- details.node_id %></a>
	    </td>
	    <td><%- details.radio_type %></td>
	    <td><%- details.transmit_frequencies %></td>
	    <td><%- details.receive_frequencies %></td>
	    <td class="text-center">
	      <% if (details.monitored) { %>
		<% var url = "frequency-graph.php?cluster=" +
		amlist[urn].nickname + "&node_id=" +
		details.node_id + "&iface=rf0";
		%>
		<a href='<%- url %>' target="_blank">
		  <span class="glyphicon glyphicon-stats"
			style="margin-right: 5px;"></span></a>
	      <% } else { %>
		  n/a
	      <% } %>
	    </td>
	    <td><%- details.available ? "Yes" : "No" %></td>
	    <td><%- details.notes %></td>
	  </tr>
	<% }); %>
      <% }); %>
    </tbody>
  </table>
</div>
