<div class='col-sm-12'>
  <div class='panel card panel-default'>
    <div class='panel-heading card-header'>
      <h4 class="panel-title card-title text-center">
	Reservation history <%- target %></h4>
    </div>
    <div class='panel-body card-body'>
      <div id="resgroups-loading">
	<br>
	<br>
	<center>Loading
	  <div>
	    <img src='images/spinner.gif' />
	  </div>
	</center>
      </div>
      <div id='nogroups' class=hidden>
	There is no reservation history. 
      </div>
      <div id="groups"></div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
