<!-- Share a profile -->
<div id='share-profile-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button'
		class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<h4 class='modal-title text-center'>Share this Profile</h4>
      </div>
      <div class='modal-body'>
	<!-- body template goes here -->
      </div>
    </div>
  </div>
</div>
<div id='profile-project-write-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button'
		class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<div class="fs-5 mt-2">
	  <p>
	    Allow other members of your project to modify this profile. 
	    Normally, only you and your project leader can modify your
	    profiles. 
	  </p>
	</div>
	<div class="container text-center">
	  <div class="row justify-content-center">
	    <div class="form-check">
	      <input type="checkbox">
	      <label class="form-check-label">
		Allow project members to modify this profile?
	      </label>
	    </span>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
