<style>
 .jstree {
     font-size: 16px;
 }
 .dl-horizontal {
     font-size: 16px;
 }
</style>

<div class='panel panel-default'>
  <div class='panel-heading text-center'>
    <h3 class='panel-title'>Hardware info</h3>
  </div>
  <div class='panel-body' style="padding-top: 10px;">
    <div class='row'>
      <div class='col-xs-5'
	   style="border-right:1px solid; height: 80vh; overflow: scroll;">
	<div class="input-group">
	  <input type="search"
		 id="hardware-search"
		 class="form-control search" placeholder="Search">
	  <span class="input-group-btn">
            <button class="btn btn-default"
		    data-expanded="false"
		    id="expand-all"
		    type="button">Expand All</button>
	  </span>
	</div>	
	<div id="tree" style="margin-top: 5px;"></div>
      </div>
      <div class='col-xs-7'>
	<div id="properties">
	  <dl class="dl-horizontal"></dl>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>


  
