<div class='row'>
  <div class='col-sm-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
	<h4 class="panel-title card-title text-center">Group</h4>
      </div>
      <div class='panel-body card-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="nav-item">
		  <a href="#info" role="tab" class="nav-link"
		     data-toggle="tab" data-bs-toggle="tab">Info</a></li>
		<li role="presentation" class="nav-item">
		  <a href="#experiments" role="tab" class="nav-link"
		     data-toggle="tab" data-bs-toggle="tab">Experiments</a></li>
		<li role="presentation" class="nav-item">
		  <a href="#members" role="tab" class="nav-link"
		     data-toggle="tab" data-bs-toggle="tab">Members</a></li>
		<% if (isadmin) { %>
		  <li role="presentation" class="nav-item">
		    <a href="#admin" role="tab"  class="nav-link"
		       data-toggle="tab" data-bs-toggle="tab">
		      Admin</a></li>
		  <li role="presentation" class="nav-item">
		    <a href='<%- emulablink %>' class="nav-link">
		      Emulab Group Page</a></li>
		<% } %>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane" id="info">
		  <div id="info_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="members">
		  <div id="members_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="experiments">
		  <div id="experiments_content">
		    <div class="hidden" id="experiments_noexperiments">
		      <br>
		      No experiments to show you. 
		    </div>
		  </div>
		  <br>
		  <div id="classic_experiments_content"></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="members">
		  <div id="members_content"></div>
		</div>
		<% if (isadmin) { %>
		  <div role="tabpanel" class="tab-pane" id="admin">
		    <div id="admin_content"></div>
		  </div>
		<% } %>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Delete -->
<div id='confirm-delete-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to delete group</h4>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-delete-group'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='oops_div'></div>
<div id='waitwait_div'></div>
