<style type="text/css">
 .nowrap {  white-space: nowrap; }

 .hidden-column {
     display: none;
 }

 .ui-datepicker{z-index: 99 !important};
</style>
<div class="row justify-content-center mt-3">
  <div class="col-sm-2">
    <div class="form-group text-center">
      <input id='start_day'
	     value=""
	     class="form-control form-control-sm"
	     placeholder="MM/DD/YYYY"
	     type="text">
      <label>Start Day</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group text-center">
      <input id='end_day'
	     value=""
	     class="form-control form-control-sm"
	     placeholder="MM/DD/YYYY"
	     type="text">
      <label>End Day</label>
    </div>
  </div>
  <div class="col-sm-1 px-0">
  <button type='button' id='go-button'
          class='btn btn-primary btn-sm'
          style='margin-left: 0px; height: 2rem;'>
    Go</button>
  </div>
</div>
<div class="row justify-content-start mt-3">
  <div class="col-sm-3">
    <input class='form-control form-control-md search'
	   type='search' data-column='all'
           id='sumstats_table_search' placeholder='Search Table'>
  </div>
  <div class="col-auto hidden">
    <a href="#" class='btn btn-default btn-md' id="showby-button"></a>
  </div>
  <% if (window.SHOWBY == "pid") { %>
    <div class="col-auto">
      <div class="form-check form-check-inline mt-2">
	<input class="form-check-input" type="checkbox" id="classonly-button">
	<label class="form-check-label">Class Only</label>
      </div>
    </div>
  <% } %>
  <div class="col-auto">
    <div id='output_dropdown'></div>
  </div>
</div>
<div class="row mt-3">
  <center id="waiting">
    <h5>Patience please, this will take a few moments</h5>
    <br>
    <img src='images/spinner.gif' />
  </center>
  <center id="results-count" class="hidden" style="margin-top: -10px;">
    <small>There are <span></span> matching rows</small>
  </center>
  <div id="table-div"></div>
</div>
