ACTION!="remove", SUBSYSTEM=="net", KERNEL!="lo", KERNEL!="ifb*", ENV{SYSTEMD_WANTS}+="emulab-networkd@$name.service", RUN+="/usr/local/etc/emulab/emulab-networkd-udev-helper.sh $name"
ACTION=="remove", SUBSYSTEM=="net", KERNEL!="lo", KERNEL!="ifb*", RUN+="systemctl stop --no-block emulab-networkd@$name.service"
